@model IEnumerable<AeCTesteSeth.BLL.Models.Endereco>


<h2>Products</h2>


<p>

    <a asp-controller="Enderece" asp-action="Create">Criar Novo</a>

</p>

<table class="table">

    <thead>

        <tr>

            <th>

                @Html.DisplayNameFor(model => model.Logradouro)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.Bairro)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.Cidade)

            </th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)

        {

            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.Logradouro)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Bairro)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Cidade)

                </td>

                <td>

                    <a asp-controller="Endereco" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |

                    <a asp-controller="Endereco" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>

                </td>

            </tr>

        }

    </tbody>

</table>