@page
@model AeCTesteSeth.API.Pages.IndexModel

@{
    ViewData["Title"] = "Entrar";
}

<h1>Entrar</h1>

<p>
    <a  href="/login/create">Login</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Usuario_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario[0].Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Usuario) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario_)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
